.container {
  display: flex;
  justify-content: center;
  background-color: #ECF2FF;
  color: #3A4F7A;
}


button {
  background-color: #F0997D;  
  color: #3A4F7A;
  border: none;
  text-transform: uppercase;
  margin-top: 25px;
  padding: 13px;
  font-size: 15px;
}